<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maravillas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
    <div class="col p-2">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody >
                  <tr (click)="onSelected(maravilla)" *ngFor="let maravilla of Maravillas">

                    <td>{{ maravilla.id }}</td>
                    <td>{{ maravilla.name }}</td>
                    <td>{{ maravilla.country }}</td>
                  </tr>
                </tbody>
            </table>
         </div>




  <div class="col-4" *ngIf="activate">
    <app-maravilla-detail [selectedMaravilla]="selectedMaravilla" ></app-maravilla-detail>
  </div>
</div>
</div>
