
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maravillas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

  <div class="card">
    <div class="card-image">
      <img src="{{selectedMaravilla.image}}" width="100%">
    </div>
    <div class="card-content">
      <h1>{{selectedMaravilla.name}}</h1>
      <h1>{{selectedMaravilla.country}}</h1>
      <p>{{selectedMaravilla.description}}</p>
    </div>
  </div>

</body>
